body{
   font: 20px Arial, sans-serif;
   background-color: rgb(101, 102, 104);
   color: rgb(162, 175, 185);
}

.navbar{
   background-color:rgba(156, 162, 163, 0.815);
      
}

#quemsomos{
   background-color:blue;
   color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
   background-color: rgb(122, 122, 214);
}

.bg-footer{

   background-color: black;
   color: white;
   font-family: Helvetica, sans-serif;
}