body{
   font: 20px Arial, sans-serif;
}

.navbar{
   background-color:red;
}

#quemsomos{
   background-color:blue;
   color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
   background-color: rgb(122, 122, 214);
}